spring:
  application:
    name: api-gateway
  cloud:
    config:
      enabled: false
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true
      routes:
        - id: vocabulary-service
          uri: lb://vocabulary-service
          predicates:
            - Path=/api/vocabulary/**
          filters:
            - StripPrefix=1
        - id: matching-service
          uri: lb://matching-service
          predicates:
            - Path=/api/matching/**
          filters:
            - StripPrefix=1
        - id: main-service
          uri: lb://main-service
          predicates:
            - Path=/api/main/**
          filters:
            - StripPrefix=1
        - id: print-service
          uri: lb://print-service
          predicates:
            - Path=/api/print/**
          filters:
            - StripPrefix=1
  config:
    import: optional:configserver:${CONFIG_SERVER_URL:http://localhost:8888/}

server:
  port: 8091

eureka:
  instance:
    prefer-ip-address: true
    lease-renewal-interval-in-seconds: 30
    lease-expiration-duration-in-seconds: 90
  client:
    service-url:
      defaultZone: ${EUREKA_CLIENT_SERVICE_URL_DEFAULTZONE:http://localhost:8761/eureka/}
    fetch-registry: true
    register-with-eureka: true
    registry-fetch-interval-seconds: 30
    initial-instance-info-replication-interval-seconds: 40
    instance-info-replication-interval-seconds: 30

